body {
    background: linear-gradient(to left, #8E0E00, #1F1C18);
}

button {
    height: 40px;
    background-color: lightgreen;
    font-size: 20px;
    font-weight: bold;
}

input {
    height: 25px;
    width: 300px;
    text-align: center;
    border-radius: 5px;
    font-size: 18px;
}

form {
    background-color: white;
    padding: 30px 5px 10px 5px;
}

#formContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 110px 25% 0 25%;
    border-radius: 10px;
}

#headerContainer {
    background-color: black;
    color: white;
}

#resultDiv {
    background-color: white;
}

#tipPercentageDiv {
    background-color: white;
}

/* --- TABLET STYLES --- */
@media screen and (max-width: 1024px) {
    #formContainer {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        margin: 110px 15% 0 15%;
        border-radius: 10px;
    }

}

/* --- MOBILE PHONE STYLES --- */
@media screen and (max-width: 450px) {
  
    button {
        height: 60px;
        background-color: lightgreen;
        font-size: 30px;
        font-weight: bold;
    }
    
    form {
        background-color: white;
        padding: 30px 5px 10px 5px;
        font-size: 25px;
    }
    
    input {
        height: 35px;
        width: 250px;
        text-align: center;
        border-radius: 5px;
        font-size: 23px;
    }
    
    #formContainer {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        margin: 110px 10% 0 10%;
        border-radius: 10px;
    }
    
    tipPercentageDiv {
        font-size: 25px;
    }
  
  }
